<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 配置中心 -->
	<!--<bean id="zkConfcenter" name="zkConfcenter" scope="singleton"-->
		<!--class="com.hsjry.zk.confcenter.DistributedConfigurationCenter">-->
		<!--<constructor-arg index="0" value="${zookeeper.ips}" />-->
		<!--<constructor-arg index="1" value="${zookeeper.timeout}" />-->
	<!--</bean>-->


</beans>